---
- name: Ensure Python3 and pip3 are installed
  apt:
    name:
      - python3
      - python3-pip
    state: present
    update_cache: yes

- name: Ensure Docker SDK for Python is installed
  pip:
    name: docker
    executable: pip3

- name: Pull Docker image
  docker_container:
    name: wartest
    image: "{{ image }}"
    state: started
    restart_policy: always
    published_ports:
      - "8080:8080"
